.button-comp {
-fx-border-width: 1px;
-fx-border-color: -xp-border;
-fx-background-color: -xp-base;
-fx-border-radius: 2px;
-fx-background-radius: 2px;
}

.button-comp:hover {
-fx-background-color: -xp-base-highlight;
-fx-border-color: -xp-border-highlight;
}

.button-comp:pressed {
-fx-background-color: -xp-base-pressed;
-fx-border-color: -xp-border-pressed;
}