.combo-box {
-fx-border-width: 1px;
-fx-border-color: -xp-border;
-fx-background-color: -xp-base;
-fx-border-radius: 2px;
-fx-background-radius: 2px;
}

.combo-box:hover {
-fx-background-color: -xp-base-highlight;
-fx-border-color: -xp-border-highlight;
}

.combo-box:hover:pressed {
-fx-background-color: -xp-base-pressed;
-fx-border-color: -xp-border-pressed;
}

.combo-box .list-cell {
    -fx-border-width: 0 0 0 0;
}

.combo-box .list-cell:hover {
-fx-background-color: -xp-base-highlight;
-fx-border-color: -xp-border-highlight;
}

.combo-box .list-cell:pressed {
-fx-background-color: -xp-base-pressed;
-fx-border-color: -xp-border-pressed;
}

.combo-box-popup .list-cell:selected {
-fx-background-color: -xp-base-pressed;
-fx-border-color: -xp-border-pressed;
}