.gradle/
build/
.idea/*
!.idea/codeStyles
!.idea/inspectionProfiles
lib/
dev.properties
extensions.txt
dev_storage
local/
local_*/
.vs
.vscode
obj
out
bin
.DS_Store
ComponentsGenerated.wxs
!dist/javafx/**/lib
!dist/javafx/**/bin
xcuserdata/
*.dylib
project.xcworkspace
