.bar.storage-group-list-comp {
-fx-pref-width: 17em;
-fx-background-radius: 0 3px 3px 0;
 -fx-border-width: 2px 2px 2px 0;
-fx-border-color: -xp-border-accent;
-fx-border-radius: 0 3px 3px 0;
-fx-padding: 0;
}

.storage-group-list-comp .text-field {
-fx-padding: 0.05em 0 0.1em 0;
-fx-text-fill: -xp-text-accent-base;
}

.storage-group-list-comp .icon-button-comp {
-fx-text-fill: -xp-text-accent-base;
}

/* Temp collection */
.storage-group-list-comp .temp.label {
-fx-padding: 0.05em 0 0.1em 0;
-fx-text-fill: -xp-text-accent-base;
}
.storage-group-list-comp .temp .ikonli-font-icon {
-fx-icon-color: -xp-text-accent-base;
}

.storage-group-list-comp .date {
-fx-text-fill: -xp-text-accent-light;
}

.storage-group-list-comp .count-comp {
-fx-text-fill: -xp-text-accent-light;
}

.storage-group-entry {
-fx-padding: 0.1em 0 0.1em 0;
}

.storage-group-entry .icon {
-fx-padding: 0.25em 0.4em 0.25em 0.25em;
}

.storage-group-list-comp .list-cell:filled {
-fx-background-radius: 0 3px 3px 0;
 -fx-border-width: 0 0 1px 0;
-fx-border-color: #FFF5;
-fx-border-insets: 8 18 5 15;
-fx-border-radius: 10;
}

.storage-group-list-comp .list-cell:filled:selected {
-fx-background-color: #59c8ec77;
}

.list-cell:empty {
-fx-opacity: 0;
-fx-pref-height: 1px;
}

.storage-group-list-comp .list-cell:even {
-fx-background-color:transparent;
}

.storage-group-list-comp .list-cell:odd {
-fx-background-color:transparent;
}

.storage-group-list-comp .list-cell {
-fx-padding: 0;
-fx-focus-color: transparent;
}

.storage-group-list-comp .list-cell {
-fx-padding: 0;
-fx-focus-color: transparent;
}
