.root:windows { -color-bg-default-transparent: #1C1C1ED5; }

.root:macos { -color-bg-default-transparent: #0d0d10E6; }

.root .button, .root .toggle-button {
    -fx-effect: NONE;
}

.root .table-view {
    -color-cell-bg-odd: derive(-color-bg-subtle, -45%);
    -color-cell-bg: derive(-color-bg-subtle, -30%);
}

.root:dark * {
    -color-foreground-base: derive(-color-bg-default-transparent, 9%);
}

.root:light * {
    -color-foreground-base: derive(-color-bg-default-transparent, -3%);
}
