.root { -color-bg-default-transparent: #FFFFFFCC; }

.root .button {
    -fx-effect: NONE;
}

.root .table-view {
    -color-cell-bg-odd: derive(-color-bg-subtle, 35%);
}

.root:dark * {
    -fx-foreground-base: derive(-color-bg-default, 13%);
}

.root:light * {
    -fx-foreground-base: derive(-color-bg-default, -3%);
}