.root { -color-bg-default-transparent: #1C1C1ED2; }

.root .button {
    -fx-effect: NONE;
}

.root .table-view {
    -color-cell-bg-odd: derive(-color-bg-subtle, -45%);
    -color-cell-bg: derive(-color-bg-subtle, -30%);
}

.root:dark * {
    -fx-foreground-base: derive(-color-bg-default, 13%);
}

.root:light * {
    -fx-foreground-base: derive(-color-bg-default, -3%);
}
