.root:windows { -color-bg-default-transparent: #282a36c2; }

.root:macos { -color-bg-default-transparent: #20212ce3; }

.root .table-view {
    -color-cell-bg-odd: derive(-color-bg-subtle, -35%);
    -color-cell-bg: derive(-color-bg-subtle, -28%);
}

.root:dark * {
    -color-foreground-base: derive(-color-bg-default-transparent, 9%);
}

.root:light * {
    -color-foreground-base: derive(-color-bg-default-transparent, -3%);
}