* {
    -xp-base: #DDDF;
    -xp-base-highlight: #B9E5F3FF;
    -xp-base-pressed: #73CAE7FF;

    -xp-border: #0F498877;
    -xp-border-highlight: #0C626C77;
    -xp-border-pressed: #087B4F77;

    -xp-text-base: #333;
    -xp-text-light: #555;

    -xp-text-base-inverted: #333;
    -xp-text-light-inverted: grey;

    -xp-base-accent: #252a30DD;
    -xp-border-accent: #555a6099;
    -xp-text-accent-base: white;
    -xp-text-accent-light: #CCF;
}