.root {
    -color-dark: #010409;
    -color-light: #ffffff;
    -color-base-0: #f0f6fc;
    -color-base-1: #c9d1d9;
    -color-base-2: #b1bac4;
    -color-base-3: #8b949e;
    -color-base-4: #6e7681;
    -color-base-5: #484f58;
    -color-base-6: #30363d;
    -color-base-7: #21262d;
    -color-base-8: #161b22;
    -color-base-9: #0d1117;
    -color-accent-0: #c2e0ff;
    -color-accent-1: #9dceff;
    -color-accent-2: #78bbff;
    -color-accent-3: #54a9ff;
    -color-accent-4: #2f96ff;
    -color-accent-5: rgb(10, 132, 255);
    -color-accent-6: #0970d9;
    -color-accent-7: #075cb3;
    -color-accent-8: #06498c;
    -color-accent-9: #043566;
    -color-success-0: #ccf5d2;
    -color-success-1: #adefb7;
    -color-success-2: #8ee99c;
    -color-success-3: #70e381;
    -color-success-4: #51dd66;
    -color-success-5: rgb(50, 215, 75);
    -color-success-6: #2bb740;
    -color-success-7: #239735;
    -color-success-8: #1c7629;
    -color-success-9: #14561e;
    -color-warning-0: #ffe7c2;
    -color-warning-1: #ffd99d;
    -color-warning-2: #ffca78;
    -color-warning-3: #ffbc54;
    -color-warning-4: #ffad2f;
    -color-warning-5: rgb(255, 159, 10);
    -color-warning-6: #d98709;
    -color-warning-7: #b36f07;
    -color-warning-8: #8c5706;
    -color-warning-9: #664004;
    -color-danger-0: #ffd1ce;
    -color-danger-1: #ffb5b0;
    -color-danger-2: #ff9993;
    -color-danger-3: #ff7d75;
    -color-danger-4: #ff6158;
    -color-danger-5: rgb(255, 69, 58);
    -color-danger-6: #d93b31;
    -color-danger-7: #b33029;
    -color-danger-8: #8c2620;
    -color-danger-9: #661c17;
    -color-fg-default: rgb(205, 214, 244);
    -color-fg-muted: rgb(186, 194, 222);
    -color-fg-subtle: rgb(166, 173, 200);
    -color-fg-emphasis: rgb(180, 190, 254);
    -color-bg-default: rgb(30, 30, 46);
    -color-bg-default-transparent: #1E1E2ED2;
    -color-bg-overlay: rgb(24, 24, 37);
    -color-bg-subtle: rgb(49, 50, 68);
    -color-bg-inset: rgb(17, 17, 27);
    -color-border-default: #30363d;
    -color-border-muted: rgb(58, 58, 60);
    -color-border-subtle: rgb(49, 49, 52);
    -color-shadow-default: rgb(0, 0, 0);
    -color-neutral-emphasis-plus: rgb(142, 142, 147);
    -color-neutral-emphasis: rgb(142, 142, 147);
    -color-neutral-muted: rgba(99, 99, 102, 0.4);
    -color-neutral-subtle: rgba(99, 99, 102, 0.1);
    -color-accent-fg: #2f96ff;
    -color-accent-emphasis: rgb(10, 132, 255);
    -color-accent-muted: rgba(10, 132, 255, 0.4);
    -color-accent-subtle: rgba(10, 132, 255, 0.15);
    -color-warning-fg: rgb(255, 159, 10);
    -color-warning-emphasis: #d98709;
    -color-warning-muted: rgba(255, 159, 10, 0.4);
    -color-warning-subtle: rgba(255, 159, 10, 0.15);
    -color-success-fg: rgb(50, 215, 75);
    -color-success-emphasis: #2bb740;
    -color-success-muted: rgba(50, 215, 75, 0.4);
    -color-success-subtle: rgba(50, 215, 75, 0.15);
    -color-danger-fg: rgb(255, 69, 58);
    -color-danger-emphasis: rgb(255, 69, 58);
    -color-danger-muted: rgba(255, 69, 58, 0.4);
    -color-danger-subtle: rgba(255, 69, 58, 0.15);
    -fx-background-color: -color-bg-default;
}

.root:macos { -color-bg-default-transparent: #13171dd2; }

.root:windows { -color-bg-default-transparent: #191c23b8; }

.root .table-view {
    -color-cell-bg-odd: derive(-color-bg-subtle, -35%);
    -color-cell-bg: derive(-color-bg-subtle, -30%);
}

.root:dark * {
    -color-foreground-base: derive(-color-bg-default, 9%);
}

.root:light * {
    -color-foreground-base: derive(-color-bg-default, -3%);
}
