.root { -color-bg-default-transparent: #2E3440d2; }

.root .table-view {
    -color-cell-bg-odd: derive(-color-bg-subtle, -15%);
    -color-cell-bg: derive(-color-bg-subtle, -10%);
}

.root:dark * {
    -color-foreground-base: derive(-color-bg-default, 9%);
}

.root:light * {
    -color-foreground-base: derive(-color-bg-default, -3%);
}