.root { -color-bg-default-transparent: #fafafcCF; }

.root .table-view {
    -color-cell-bg-odd: derive(-color-bg-subtle, 20%);
}

.root:dark * {
    -color-foreground-base: derive(-color-bg-default, 13%);
}

.root:light * {
    -color-foreground-base: derive(-color-bg-default, -3%);
}