.application-choice-comp {
-fx-border-width: 1px;
-fx-border-color: #073B4C43;
-fx-background-color: #118AB210;
}

.application-choice-comp .combo-box > .list-cell {
    -fx-padding: 0 0 0 0;
    -fx-border-insets: 0 0 0 0;
}

.application-choice-comp .combo-box > .list-cell .icon {
    -fx-fit-width: 1em;
    -fx-fit-height: 1em;
}