.update-button {
    -fx-border-width: 0.05em;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
    -fx-border-color: -color-border-default;
}

.open-source-notices .open-source-header {
    -fx-padding: 0.2em 0.3em 0.35em 0.3em;
    -fx-graphic-text-gap: 6px;
}

.open-source-notices {

}

.properties-comp {
    -fx-spacing: 0.4em;
}

.properties-comp .header {
    -fx-graphic-text-gap: 0.8em;
}

.properties-comp .tile > * {
    -fx-padding: 0.6em 0 0.6em 0;
}


.troubleshoot-tab .separator {
    -fx-padding: 0.3em 0 0.3em 0;
}

.about-tab .update-check {
    -fx-spacing: 0.6em;
}