.dialog-pane .button {
-fx-font-size: 0.8em;
-fx-border-width: 1px;
-fx-border-color: -xp-border;
-fx-background-color: -xp-base;
-fx-border-radius: 2px;
-fx-background-radius: 2px;
}

.dialog-pane .button:hover {
-fx-background-color: -xp-base-highlight;
-fx-border-color: -xp-border-highlight;
}

.dialog-pane .button:pressed {
-fx-background-color: -xp-base-pressed;
-fx-border-color: -xp-border-pressed;
}

.dialog-pane .button:default {
-fx-background-color: -xp-base-highlight;
-fx-border-color: -xp-border-highlight;
}
