
.bookmark-list > .categories {
-fx-padding: 0.7em 1em 0.7em 1em;
-fx-background-color: -color-neutral-subtle;
}

.bookmark-list .filter-comp {
 -fx-border-width: 0.05em;
-fx-border-radius: 0 4px 4px 0;
-fx-background-radius: 0 4px 4px 0;
-fx-background-color: -color-bg-default;
-fx-border-color: -color-border-default;
}

.bookmark-list .store-section-mini-comp .item:selected {
-fx-border-width: 1px;
-fx-border-radius: 4px;
-fx-border-insets: 0px 10px 0 0;
-fx-border-color: -color-accent-muted;
-fx-background-color: -color-bg-default;
-fx-background-radius: 4px;
-fx-background-insets: 0px 10px 0 0;
-fx-padding: 0.25em 0.4em 0.25em 0.4em;
}
