

.root.nord .bookmarks-header .filter-comp {
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

.bookmarks-header .filter-comp {
    -fx-border-width: 1;
    -fx-border-radius: 0 4px 4px 0;
    -fx-background-radius: 0 4px 4px 0;
    -fx-background-color: -color-bg-default;
    -fx-border-color: -color-border-default;
}

.bookmark-list .store-section-mini-comp .item:selected {
    -fx-font-weight: BOLD;
}

.bookmark-list .store-section-mini-comp:top {
    -fx-padding: 0 0 0 2px;
}

.bookmark-list.store-section-mini-comp > .children-content > .scroll-pane {
    -fx-vbar-policy: always;
}

.bookmarks-container {
    -fx-background-radius: 4 0 0 0;
    -fx-background-insets: 0 7 4 4, 1 8 5 5;
    -fx-padding: 1 0 5 5;
    -fx-background-color: -color-border-default, -color-bg-default;
}

.bookmarks-header {
    -fx-min-height: 3.0em;
    -fx-pref-height: 3.0em;
    -fx-max-height: 3.0em;
    -fx-padding: 4 6 4 4;
}
