
.bookmark-list > .categories {
-fx-padding: 0.7em 1em 0.7em 1em;
-fx-background-color: -color-neutral-subtle;
}

.bookmark-list .filter-comp {
 -fx-border-width: 0.05em;
-fx-border-radius: 0 4px 4px 0;
-fx-background-radius: 0 4px 4px 0;
-fx-background-color: -color-bg-default;
-fx-border-color: -color-border-default;
}

.bookmark-list .store-section-mini-comp .item:selected {
-fx-border-width: 1px;
-fx-border-radius: 4px;
-fx-background-color: transparent, -color-accent-emphasis, -color-bg-overlay;
-fx-background-radius: 4px;
-fx-background-insets: 1 11 1 1, 2 12 2 2, 3 13 3 3;
-fx-padding: 0.25em 0.4em 0.25em 0.4em;
}
