

.root.nord .bookmarks-header .filter-comp {
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

.bookmarks-header .filter-comp {
    -fx-border-width: 1;
    -fx-border-radius: 0 4px 4px 0;
    -fx-background-radius: 0 4px 4px 0;
    -fx-background-color: -color-bg-default;
    -fx-border-color: -color-border-default;
}

.bookmark-list .store-section-mini-comp .item:selected {
    -fx-font-weight: BOLD;
}

.bookmark-list .store-section-mini-comp:top {
    -fx-padding: 0 0 0 2px;
}

.bookmark-list.store-section-mini-comp > .children-content > .scroll-pane {
    -fx-vbar-policy: always;
}

.bookmarks-container {
    -fx-background-color: -color-border-default, -color-bg-subtle;
    -fx-background-radius: 4 0 0 4;
    -fx-background-insets: 0 8 8 8, 1 9 9 9;
    -fx-padding: 1 1 9 9;
}

.root:pretty .bookmarks-container {
    -fx-effect: dropshadow(three-pass-box, -color-shadow-default, 2px, 0.25, 0, 1);
}

.bookmarks-header {
    -fx-min-height: 3.5em;
    -fx-pref-height: 3.5em;
    -fx-max-height: 3.5em;
    -fx-padding: 9 8;
}
