.download-background {
-fx-border-color: -color-border-default;
-fx-border-width: 1px 0 0 0;
-fx-padding: 1em;
}

.browser .tile > * {
 -fx-padding: 0.6em 0 0.6em 0;
}

.browser .overview {
    -fx-spacing: 1.5em;
    -fx-padding: 1.5em;
}

.selected-file-list {
    -fx-spacing: 5px;
    -fx-padding: 8px;
}

.selected-file-list * {
    -fx-spacing: 5px;
}

.selected-file-list.drag {
-fx-border-width: 1px;
-fx-border-color: -color-border-default;
-fx-background-color: -color-neutral-muted;
-fx-background-radius: 1px;
-fx-border-radius: 1px;
}

.bookmark-list .tree-cell:filled:hover {
    -fx-background-color: -color-accent-muted;
}

*:drag-over .download-background {
    -fx-background-color: -color-success-muted;
}

.bookmark-list .tree-cell:drag-over {
    -fx-background-color: -color-success-muted;
}

.bookmark-list .tree-cell:disabled {
    -fx-opacity: 0.5;
}

.bookmark-list .tree-cell {
    -fx-background-radius: 5px;
    -fx-padding: 8px 8px 8px 3px;
    -fx-background-insets: 5px 5px 5px 5px;
}

.bookmark-list .tree-cell.first {
    -fx-padding: 12px 8px 8px 3px;
    -fx-background-insets: 9px 5px 5px 5px;
}

.bookmark-list .combo-box {
    -fx-padding: 0px;
}

.bookmark-list .item {
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-background-color: transparent;
}

.bookmark-list .item:selected {
    -fx-padding: 5px;
}

.browser .bookmark-tree {
    -fx-border-width: 0;
    -fx-padding: 5px;
    -fx-spacing: 5px;
}

.browser .bookmark-list *.scroll-bar:horizontal,
.browser .bookmark-list *.scroll-bar:horizontal *.track,
.browser .bookmark-list *.scroll-bar:horizontal *.track-background,
.browser .bookmark-list *.scroll-bar:horizontal *.thumb,
.browser .bookmark-list *.scroll-bar:horizontal *.increment-button,
.browser .bookmark-list *.scroll-bar:horizontal *.decrement-button,
.browser .bookmark-list *.scroll-bar:horizontal *.increment-arrow,
.browser .bookmark-list *.scroll-bar:horizontal *.decrement-arrow {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}

.browser .tool-bar {
    -fx-border-width: 1 0 1 0;
-fx-border-color: -color-border-default;
    -fx-padding: 5px 10px ;
}

.browser .status-bar {
    -fx-border-width: 1 0 0 0;
-fx-border-color: -color-border-default;
}

.browser .breadcrumbs >.divider {
    -fx-padding: 0;
}

.browser .context-menu > * > * {
-fx-padding: 3px 10px 3px 10px;
-fx-background-radius: 1px;
-fx-spacing: 20px;
}

.browser .context-menu .separator {
-fx-padding: 0;
}

.browser .breadcrumbs {
-fx-padding: 2px 10px 2px 10px;
}

.browser .context-menu .separator .line {
-fx-padding: 0;
-fx-border-insets: 0px;
}

.browser .breadcrumbs {
-fx-background-color: transparent;
}

.browser .breadcrumbs .button {
-fx-padding: 3px 1px 3px 1px;
-fx-background-color: transparent;
}

.browser .breadcrumbs .button:hover {
-fx-background-color: -color-neutral-muted;
}

.browser .path-text:invisible {
-fx-text-fill: transparent;
}

.browser .overview-file-list {
    -fx-border-width: 1px;
}

.browser .overview-file-list .button {
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
}

.browser .context-menu .accelerator-text {
-fx-padding: 3px 0px 3px 50px;
}

.browser .context-menu > * {
-fx-padding: 0;
}

.browser .context-menu {
-fx-padding: 0;
-fx-background-radius: 1px;
-fx-border-color: -color-neutral-muted;
}

.browser .tab-pane {
 -fx-border-width: 0 0 0 1px;
-fx-border-color: -color-border-default;
}

.chooser-bar {
-fx-border-color: -color-border-default;
-fx-border-width: 0.1em 0 0 0;
-fx-padding: 1em;
-fx-background-color: -color-neutral-muted;
}

.browser .tab-content-area { 	-fx-padding: 0; }

.browser .singular {
    -fx-tab-max-height: 0 ;
}

.browser .singular .tab-header-area {
    visibility: hidden ;
}

.browser .table-view {
    -color-header-bg: -color-bg-default;
    -color-cell-bg-selected: -color-neutral-emphasis;
    -color-cell-fg-selected: -color-fg-emphasis;
    -fx-border-width: 0;
}

.browser .table-row-cell:empty {
    -fx-opacity: 0.7;
}

/* setting opacity directly to the .table-cell or .table-row-cell
   leads to incorrect table row height calculation #javafx-bug */
.browser .table-row-cell:hidden >.table-cell > * {
    -fx-opacity: 0.75;
}

.browser .table-view:drag-into-current .table-row-cell {
    -fx-opacity: 0.8;
}

.browser .table-row-cell:file:hover,.table-row-cell:folder:hover {
    -fx-background-color: -color-accent-subtle;
}

.browser .table-row-cell:selected, .browser .table-row-cell:hover:selected {
    -fx-background-color: -color-success-subtle;
}

.browser .table-row-cell:folder:drag-over {
    -fx-background-color: -color-success-muted;
}

.browser .table-row-cell:drag {
    -fx-background-color: -color-accent-muted;
}
