/* SPDX-License-Identifier: MIT */

.browser .bookmark-list {
    -fx-border-width: 0 0 1 1;
}

.browser .tool-bar {
    -fx-border-width: 1 0 1 0;
}

.browser .breadcrumbs >.divider {
    -fx-padding: 0;
}

.chooser-bar {
-fx-border-color: -color-neutral-emphasis;
-fx-border-width: 0.1em 0 0 0;
-fx-padding: 1em;
-fx-background-color: -color-neutral-muted;
}

.browser .tab-content-area { 	-fx-padding: 0; }

.browser .singular {
    -fx-tab-max-height: 0 ;
}

.browser .singular .tab-header-area {
                                        visibility: hidden ;
                                    }

.browser .table-directory-view .table-view {
    -color-header-bg: -color-bg-default;
    -color-cell-bg-selected: -color-neutral-emphasis;
    -color-cell-fg-selected: -color-fg-emphasis;
    -fx-border-width: 0;
}

/* setting opacity directly to the .table-cell or .table-row-cell
   leads to incorrect table row height calculation #javafx-bug */
.browser .table-row-cell:hidden >.table-cell > * {
    -fx-opacity: 0.6;
}

.browser .table-directory-view .table-view:drag-into-current {
-fx-border-color: -color-success-muted;
    -fx-border-width: 2px;
}

.browser .table-row-cell:drag-over {
    -fx-background-color: -color-success-muted;
}

.browser .table-row-cell:drag {
    -fx-background-color: -color-accent-muted;
}
