.browser .visual-display {
    -fx-border-color: -color-border-default;
    -fx-border-width: 2 1 1 1;
}

.browser .visual-display:focused {
    -fx-border-color: -color-accent-emphasis;
}

.download-background {
    -fx-border-color: -color-border-default;
    -fx-border-width: 1px 0 0 0;
    -fx-padding: 1em;
    -fx-background-color: -color-bg-default;
}

.transfer .button {
    -fx-border-color: -color-border-default;
    -fx-border-width: 1px;
    -fx-background-color: -color-bg-default;
    -fx-background-radius: 4;
    -fx-border-radius: 4;
    -fx-padding: 0.1em 0.2em;
}

.transfer .button:hover {
    -fx-background-color: -color-bg-subtle;
    -fx-opacity: 1.0;
}

.browser .welcome .button:hover {
    -fx-background-color: -color-neutral-muted;
}

.browser .tile > * {
    -fx-padding: 0.6em 0 0.6em 0;
}

.browser .overview {
    -fx-spacing: 1.5em;
    -fx-padding: 1.5em;
    -fx-background-color: -color-bg-default;
}

.selected-file-list {
    -fx-spacing: 5px;
    -fx-padding: 8px;
}

.selected-file-list * {
    -fx-spacing: 5px;
}

.selected-file-list.drag {
    -fx-border-width: 1px;
    -fx-border-color: -color-border-default;
    -fx-background-color: -color-neutral-muted;
    -fx-background-radius: 1px;
    -fx-border-radius: 1px;
}

*:drag-over .download-background {
    -fx-background-color: -color-success-muted;
}

.browser .top-bar {
    -fx-border-width: 1 0 1 0;
    -fx-border-color: -color-border-default;
    -fx-padding: 5px 10px;
}

.browser .top-bar > .button {
    -fx-background-insets: 0;
    -fx-background-color: transparent;
}

.browser .top-bar > .menu-button {
    -fx-background-insets: 0;
    -fx-background-color: transparent;
}

.browser .top-bar > .button:hover {
    -fx-background-color: -color-accent-subtle;
}

.browser .top-bar > .menu-button:hover {
    -fx-background-color: -color-accent-subtle;
}

.browser .top-bar .browser-filter .button:hover {
    -fx-background-color: -color-accent-subtle;
}

.browser .status-bar {
    -fx-border-width: 1 0 0 0;
    -fx-border-color: -color-border-default;
}

.browser .status-bar .progress {
    -fx-font-family: Roboto;
}

.browser .breadcrumbs > .divider {
    -fx-padding: 0;
}

.browser .breadcrumbs {
    -fx-padding: 2px 10px 2px 10px;
}

.browser .breadcrumbs {
    -fx-background-color: transparent;
}

.browser .breadcrumbs .button {
    -fx-padding: 3px 1px 3px 1px;
    -fx-background-color: transparent;
}

.browser .breadcrumbs .button:hover {
    -fx-background-color: -color-neutral-muted;
}

.browser .path-text:invisible {
    -fx-text-fill: transparent;
}

.browser .overview-file-list {
    -fx-border-width: 0;
}

.browser .overview-file-list .button {
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-effect: none;
}

.browser .tab-pane {
    -fx-border-width: 0 0 0 1px;
    -fx-border-color: -color-border-default;
}

.chooser-bar {
    -fx-border-color: -color-border-default;
    -fx-border-width: 1 0 0 0;
    -fx-padding: 0.4em 0.7em;
    -fx-background-color: -color-neutral-muted;
}

.browser .tab-content-area {
    -fx-padding: 0;
}

.browser .singular {
    -fx-tab-max-height: 0;
}

.browser .singular .tab-header-area {
    visibility: hidden;
}

.browser .table-view {
    -fx-border-width: 0;
}

.browser .table-row-cell:empty {
    -fx-opacity: 0.7;
}

/* setting opacity directly to the .table-cell or .table-row-cell
   leads to incorrect table row height calculation #javafx-bug */
.browser .table-row-cell:hidden > .table-cell > * {
    -fx-opacity: 0.75;
}

.browser .table-view:drag-into-current .table-row-cell {
    -fx-opacity: 0.65;
}

.browser .table-row-cell:file:hover, .table-row-cell:folder:hover {
    -fx-background-color: -color-accent-subtle;
}

.browser .table-row-cell:selected, .browser .table-row-cell:hover:selected {
    -fx-background-color: -color-success-subtle;
}

.root.nord .browser .table-row-cell:selected, .root.nord .browser .table-row-cell:hover:selected {
    -fx-background-color: -color-success-7;
}

.browser .table-row-cell:folder:drag-over {
    -fx-background-color: -color-success-muted;
}

.browser .table-row-cell:drag {
    -fx-background-color: -color-accent-muted;
}

.browser .tab-container {
    -fx-border-radius: 4;
    -fx-background-radius: 4;
}

.browser .tab {
    -fx-opacity: 0.6;
}

.browser .tab:hover {
    -fx-opacity: 0.8;
}

.browser .tab:selected {
    -fx-opacity: 1.0;
}

.root.nord .browser .tab-container {
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

.browser .quick-access-button {
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

.browser .quick-access-button .context-menu .leaf > * > .arrow {
    -fx-pref-width: 0;
    -fx-opacity: 0;
}

