.category-button {
    -fx-background-color: transparent;
    -fx-background-radius: 4px;
    -fx-border-radius: 4px;
    -fx-border-width: 0;
    -fx-padding: 0 0 0 2;
    -fx-background-insets: 0;
}

.category-button .name {
    -fx-padding: 0.25em;
}

.category-button .text-field {
    -fx-background-color: transparent;
}

.category-button:hover, .root:key-navigation .category-button:focused {
    -fx-background-color: -color-bg-default;
}

.category:selected .category-button {
    -fx-border-color: -color-border-default;
    -fx-background-color: -color-bg-default;
}

.category:selected .category-button .name {
    -fx-font-weight: BOLD;
}

.root:light .category.yellow > .category-button .expand-button .ikonli-font-icon {
    -fx-icon-color: #888800;
}

.root:light .category.green > .category-button .expand-button .ikonli-font-icon {
    -fx-icon-color: #0d770d;
}

.root:light .category.blue > .category-button  .expand-button .ikonli-font-icon {
    -fx-icon-color: #1c62be;
}

.root:light .category.red > .category-button  .expand-button .ikonli-font-icon {
    -fx-icon-color: #a40000;
}

.root:dark .category.yellow > .category-button .expand-button .ikonli-font-icon {
    -fx-icon-color: yellow;
}

.root:dark .category.green > .category-button .expand-button .ikonli-font-icon {
    -fx-icon-color: green;
}

.root:dark .category.blue > .category-button  .expand-button .ikonli-font-icon {
    -fx-icon-color: #397fd5;
}

.root:dark .category.red > .category-button  .expand-button .ikonli-font-icon {
    -fx-icon-color: red;
}

.category-button  .expand-button:disabled {
    -fx-opacity: 1.0;
}
