.category-button {
    -fx-background-color: transparent;
    -fx-background-radius: 4px;
    -fx-border-radius: 4px;
    -fx-border-width: 0;
    -fx-padding: 0 0 0 2;
    -fx-background-insets: 0;
}

.category-button .name {
    -fx-padding: 0.25em 0.1em;
}

.category-button .text-field {
    -fx-background-color: transparent;
}

.category-button:hover, .root:key-navigation .category-button:focused {
    -fx-background-color: -color-bg-default;
}

.category:selected .category-button {
    -fx-border-color: -color-border-default;
    -fx-background-color: -color-bg-default;
}

.category:selected .category-button .name {
    -fx-font-weight: BOLD;
}

.category.gray > .category-button .expand-button:disabled .ikonli-font-icon {
    -fx-opacity: 0.3;
}

.root:light .category.yellow > .category-button .expand-button .ikonli-font-icon {
    -fx-icon-color: #bc9925;
}

.root:light .category.yellow > .category-button .expand-button:disabled .ikonli-font-icon {
    -fx-icon-color: #887028;
}

.root:light .category.green > .category-button .expand-button .ikonli-font-icon {
    -fx-icon-color: #0d770d;
}

.root:light .category.green > .category-button .expand-button:disabled .ikonli-font-icon {
    -fx-icon-color: #085908;
}

.root:light .category.blue > .category-button  .expand-button .ikonli-font-icon {
    -fx-icon-color: #1c62be;
}

.root:light .category.blue > .category-button  .expand-button:disabled .ikonli-font-icon {
    -fx-icon-color: #124d98;
}

.root:light .category.red > .category-button  .expand-button .ikonli-font-icon {
    -fx-icon-color: #a40000;
}

.root:light .category.red > .category-button  .expand-button:disabled .ikonli-font-icon {
    -fx-icon-color: #800000;
}

.root:dark .category.yellow > .category-button .expand-button .ikonli-font-icon {
    -fx-icon-color: yellow;
}

.root:dark .category.yellow > .category-button .expand-button:disabled .ikonli-font-icon {
    -fx-icon-color: #a1a116;
}

.root:dark .category.green > .category-button .expand-button .ikonli-font-icon {
    -fx-icon-color: #00a300;
}

.root:dark .category.green > .category-button .expand-button:disabled .ikonli-font-icon {
    -fx-icon-color: #007000;
}

.root:dark .category.blue > .category-button  .expand-button .ikonli-font-icon {
    -fx-icon-color: #2a78da;
}

.root:dark .category.blue > .category-button  .expand-button:disabled .ikonli-font-icon {
    -fx-icon-color: #2459a1;
}

.root:dark .category.red > .category-button  .expand-button .ikonli-font-icon {
    -fx-icon-color: red;
}

.root:dark .category.red > .category-button  .expand-button:disabled .ikonli-font-icon {
    -fx-icon-color: darkred;
}

.category-button  .expand-button:disabled {
    -fx-opacity: 1.0;
}
