
.data-source-finish-step .store-options {
    -fx-spacing: 0.5em;
}

.data-source-finish-step .data-source-id {
    -fx-padding: 0.75em;
    -fx-spacing: 0.5em;
}

.data-source-finish-step .storage-group-selector {
-fx-border-width: 0;
-fx-background-color: -xp-base;
}

.data-source-finish-step .data-source-id .input-line {
-fx-opacity: 0.2;
}



.data-source-save-step {
    -fx-padding: 1.5em;
    -fx-spacing: 1.0em;
}

.data-source-save-step .store-options {
    -fx-spacing: 0.5em;
}

.data-source-save-step .data-source-id {
    -fx-padding: 0.75em;
    -fx-spacing: 0.5em;
}

.data-source-save-step .storage-group-selector {
-fx-border-width: 0;
-fx-background-color: -xp-base;
}

.data-source-save-step .data-source-id .input-line {
-fx-opacity: 0.2;
}
