.step {
-fx-padding: 0;
}

.spacer {
-fx-padding: 1em 0 1em 0;
}

.data-input-creation-step .jfx-tab-pane {
-fx-spacing: 1em;
-fx-padding: 1.5em;
}

.data-input-creation-step .jfx-tab-pane {
-fx-padding: 0.4em 0 0 0;
}

.data-input-type {
-fx-padding: 0 0 1.25em 0;
}

.data-input-creation-step .store-local-file-chooser {
-fx-padding: 1em 0 1em 0;
-fx-spacing: 1em;
}
