.error-handler-comp .top {
    -fx-spacing: 1em;
}

.error-handler-comp .actions {
    -fx-spacing: 0.3em;
}

.error-handler-comp .details {
    -fx-padding: 0 1.5em 1.0em 1.5em;
    -fx-background-color: transparent;
}

.error-report .report {
    -fx-padding: 1.0em 1.5em 1em 1.5em;
    -fx-spacing: 1.3em;
}

.error-report .report, .error-report .attachments {
    -fx-spacing: 0.3em;
}

.error-report .attachments .attachment-list .list-content {
    -fx-padding: 0.5em 1em;
}

.error-report .buttons {
    -fx-border-color: -color-neutral-emphasis;
    -fx-border-width: 1px 0 0 0;
    -fx-padding: 1.0em 1.5em 1em 1.5em;
    -fx-background-color: -color-neutral-muted;
}
