.bar {
-fx-padding: 0.8em 1.0em 0.8em 1.0em;
-fx-background-color: -color-bg-subtle;
-fx-border-color: -color-neutral-emphasis;
}

.store-header-bar {
-fx-background-radius: 0 0 2px 0;
-fx-border-radius: 0 0 2px 0;
 -fx-border-width: 0 0.05em 0.05em 0;
-fx-spacing: 0.8em;
}

.store-creation-bar {
-fx-background-radius: 0 2px 2px 0;
-fx-border-radius: 0 2px 2px 0;
 -fx-border-width: 0.05em 0.05em 0.05em 0;
-fx-spacing: 0.2em;
}

.filler-bar {
-fx-background-radius: 0 2px 0 0;
-fx-border-radius: 0 2px 0 0;
 -fx-border-width: 0.05em 0.05em 0 0;
}

.sidebar {
-fx-spacing: 5px;
}

.bar .button-comp {
-fx-padding: 0.2em 0em 0.2em 0em;
}

.collections-bar {
-fx-background-radius: 0 0 2px 0;
-fx-border-radius: 0 0 2px 0;
 -fx-border-width: 0 2px 2px 0;
}

.entry-bar {
-fx-background-radius: 0 0 2px 2px;
-fx-border-radius: 0 0 2px 2px;
 -fx-border-width: 0 2px 2px 2px;
-fx-background-color: -color-neutral-muted;
}

.entry-bar .horizontal-comp {
-fx-spacing: 5px;
}

.bar .icon-button-comp {
-fx-text-fill: -color-fg-default;
}

.bar .name {
-fx-text-fill: -color-fg-default;
}

.bar .count-comp {
-fx-padding: 0.0em 0em 0.0em 0.4em;
}

.bar .filter-bar .text-field {
-fx-padding: 0.35em;
-fx-text-fill: -color-fg-default;
}
.bar .filter-bar {
-fx-background-radius: 0.5em;
-fx-background-color: -color-bg-default;
 -fx-border-width: 0.05em;
-fx-border-radius: 0.5em;
-fx-border-color: -color-neutral-emphasis;
}
.filter-bar .input-line {
-fx-opacity: 0.2;
}