.intro .label {
-fx-line-spacing: 5px;
-fx-text-fill: -xp-text-base;
-fx-graphic-text-gap: 8px;
}

.intro .title {
-fx-padding: 0 0 0.2em 0;
}

.intro .separator {
-fx-padding: 0.75em 0 0.75em 0;
}

.intro .label .ikonli-font-icon {
-fx-line-spacing: 5px;
-fx-icon-color: -xp-text-base;
}

.intro-add-collection-button {
}