.lazy-text-field-comp {
    -fx-padding: 5px;
}

.lazy-text-field-comp:disabled {
-fx-opacity: 1.0;
}

.lazy-text-field-comp:disabled.text-field .input-line {
-fx-opacity: 0;
}

.lazy-text-field-comp .input-line {
-fx-opacity: 0.0;
}