.license-required {
    -fx-padding: 1em;
    -fx-font-family: Roboto;
}

.license-required .message {
-fx-border-width: 1px;
-fx-border-radius: 15px;
-fx-background-radius: 15px;
-fx-padding: 1em;
}
