.modal-overlay-comp .titled-pane {
    -fx-padding: 0;
    -fx-border-radius: 0;
}

.modal-overlay-comp {
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

.modal-overlay-comp .titled-pane > * {
    -fx-border-radius: 0;
}

.modal-overlay-comp .titled-pane > * {
    -fx-background-radius: 0;
}

