.modal-overlay-comp .modal-box {
    -fx-border-width: 1;
    -fx-border-color: -color-border-default;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
}

.modal-overlay-comp .modal-box > .content {
    -fx-padding: 15 27 10 27;
}

.modal-overlay-comp .modal-box .button-bar .button {
    -fx-padding: 0.45em 0.8em 0.45em 0.8em;
    -fx-border-width: 1px;
    -fx-border-radius: 2px;
    -fx-background-radius: 2px;
}

.root:dark .modal-overlay-comp.modal-pane {
    -color-modal-pane-overlay: rgba(0, 0, 0, 0.4);
}

.modal-overlay-stack-element:loaded > .modal-overlay-comp.modal-pane > .scroll-pane > .viewport > * > .scrollable-content {
    -fx-background-insets: 0 3.2em 0 0;
}

.root:seamless-frame .modal-overlay-stack-element:loaded > .modal-overlay-comp.modal-pane > .scroll-pane > .viewport > * > .scrollable-content {
    -fx-background-radius: 0 6 0 0;
}

.modal-overlay-stack-element > .modal-overlay-comp.modal-pane > .scroll-pane > .viewport > * > .scrollable-content {
    -color-modal-pane-overlay: transparent
}

.root:light .modal-overlay-stack-element:loaded > .modal-overlay-comp.modal-pane > .scroll-pane > .viewport > * > .scrollable-content {
    -color-modal-pane-overlay: rgba(0, 0, 0, 0.3);
}

.root:dark .modal-overlay-stack-element:loaded > .modal-overlay-comp.modal-pane > .scroll-pane > .viewport > * > .scrollable-content {
    -color-modal-pane-overlay: rgba(0, 0, 0, 0.4);
}

