.multi-step-comp > .top .line {
-fx-max-height: 3px;
-fx-background-color: -color-accent-fg;
}

.multi-step-comp .entry {
-fx-spacing: 0.2em;
-fx-padding: 0.6em 0 1em 0;
}

.multi-step-comp > .top {
    -fx-border-color: -color-neutral-emphasis;
-fx-border-width: 0 0 0.1em 0;
-fx-background-color: -color-neutral-muted;
}

.multi-step-comp > .top .name {
-fx-text-fill: -color-accent-fg;
}

.multi-step-comp .entry:next .name {
-fx-text-fill: -color-accent-fg;
}

.multi-step-comp .buttons {
-fx-border-color: -color-neutral-emphasis;
-fx-border-width: 0.1em 0 0 0;
-fx-padding: 1em;
-fx-background-color: -color-neutral-muted;
}

.multi-step-comp .circle {
-fx-max-width: 17px;
-fx-max-height: 17px;
-fx-min-height: 17px;
-fx-background-radius: 4px;
-fx-background-color: #073B4C;
-fx-border-width: 1px;
-fx-border-color:-color-accent-fg;
-fx-border-radius: 4px;
}

.multi-step-comp {
-fx-background-color: -color-bg-default;
}

.multi-step-comp .entry:completed .circle {
-fx-background-color: #0B9F9B;
}

.multi-step-comp .top .entry:completed .line {
-fx-background-color: #0B9F9B;
}

.multi-step-comp .entry:current .circle {
-fx-background-color: #118AB2;
}

.multi-step-comp .top .entry:current .line {
-fx-background-color: #118AB2;
}

.multi-step-comp .entry:next .circle {
-fx-background-color: #0B566F;
}

.multi-step-comp .top .entry:next .line {
-fx-background-color: #0B566F;
}

.multi-step-comp > .top .entry .number {
-fx-text-fill: white;
}

.multi-step-comp > .top .entry:next .number {
-fx-text-fill: white;
}

.multi-step-comp > .top {
-fx-height: 4em;
}

.multi-step-comp > .jfx-tab-pane .tab-header-area {
-fx-pref-height: 0;
}

.multi-step-comp > .jfx-tab-pane .tab-content-area {
-fx-padding: 0;
}

