.named-store-choice,.named-source-choice {
-fx-border-width: 1px;
-fx-border-color: -xp-border;
-fx-background-color: transparent;
-fx-border-radius: 4px;
-fx-padding: 2px;
-fx-background-radius: 4px;
}