.store-header-bar .menu-button .context-menu > * > * {
    -fx-padding: 5px 10px 5px 10px;
}

.store-header-bar .menu-button .context-menu > * {
    -fx-padding: 0;
}

.store-header-bar .menu-button .context-menu {
    -fx-padding: 0;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-border-color: -color-border-default;
}


.context-menu > * > * {
    -fx-padding: 3px 10px 3px 10px;
    -fx-background-radius: 1px;
    -fx-spacing: 20px;
}

.context-menu .menu-up-arrow, .context-menu .menu-down-arrow {
    -fx-padding: 5;
    -fx-background-color: -color-bg-default;
}

.context-menu .scroll-arrow {
    -fx-padding: 5;
    -fx-background-color: -color-fg-muted;
    -fx-border-color: -color-border-default;
    -fx-border-width: 1 0 1 0;
}

.context-menu .separator {
    -fx-padding: 0;
}

.context-menu .separator .line {
    -fx-padding: 0;
    -fx-border-insets: 0px;
}


.context-menu .accelerator-text {
    -fx-padding: 0px 0px 0px 50px;
}

.context-menu > * {
    -fx-padding: 0;
}

.context-menu {
    -fx-padding: 12 0 12 0;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-border-color: -color-border-default;
}

.context-menu * .context-menu, .context-menu.condensed {
    -fx-padding: 0;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}
