.prefs-container .options-comp .name {
    -fx-padding: 3em 0 0 0;
    -fx-font-weight: BOLD;
    -fx-font-size: 1.1em;
}

.prefs-container .options-comp .description {
    -fx-padding: 0.5em 0 0.5em 0;
}

.prefs-container > .title-header.first {
    -fx-padding: 0 0 -1em 0;
}

.prefs-container > .title-header {
    -fx-padding: 2em 0 -1em 0;
    -fx-font-weight: BOLD;
    -fx-font-size: 1.5em;
}

.prefs-container.options-comp > .options-comp {
    -fx-padding: 0 0 0 1em;
}

.prefs-container.options-comp .name.first {
    -fx-padding: 0;
}

.prefs {
    -fx-background-color: transparent;
}

.prefs .sidebar {
    -fx-spacing: 0;
    -fx-background-color: -color-bg-subtle;
    -fx-border-width: 0 1 0 0;
    -fx-border-color: -color-border-default;
    -fx-padding: 0.7em 0 0 0;
}

.prefs .sidebar .button {
    -fx-background-color: transparent;
    -fx-padding: 0.5em 1em 0.5em 1.2em;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-border-width: 1;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
}

.prefs .sidebar .button:selected {
    -fx-background-color: -color-accent-subtle;
    -fx-border-color: -color-accent-emphasis;
    -fx-border-width: 1 0 1 0;
}
