.scroll-bar:vertical {
    -fx-min-width: 7px;
    -fx-pref-width: 7px;
    -fx-max-width: 7px;
    -fx-padding: 1;
    -fx-background-color: transparent;
}

.scroll-bar:horizontal {
    -fx-pref-height: 0.3em;
}

.scroll-pane {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-color: transparent;
}

.scroll-pane:focused {
    -fx-background-insets: 0;
}

.scroll-pane .corner {
    -fx-background-insets: 0;
}