.scroll-bar:vertical {
    -fx-pref-width: 0.4em;
    -fx-padding: 0.4em 1 0.3em 1;
    -fx-background-color: transparent;
}

.scroll-bar:horizontal {
    -fx-pref-height: 0.3em;
}

.scroll-pane {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-color: transparent;
}

.scroll-pane:focused {
    -fx-background-insets: 0;
}

.scroll-pane .corner {
    -fx-background-insets: 0;
}