.scroll-bar {
    -fx-opacity: 1.0;
}

.root .scroll-bar:vertical .thumb {
    -fx-opacity: 0.5;
    -fx-padding: 5 1 5 1;
    -fx-min-height: 20;
    -fx-background-color: red;
}

.scroll-bar:vertical {
    -fx-min-width: 14px;
    -fx-pref-width: 14px;
    -fx-max-width: 14px;
    -fx-padding: 5 1 5 1;
    -fx-background-color: transparent;
}

.scroll-bar:horizontal {
    -fx-pref-height: 0.3em;
}

.scroll-pane {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-color: transparent;
    -fx-border-insets: 0;
}

.scroll-pane:focused {
    -fx-background-insets: 0;
}

.scroll-pane .corner {
    -fx-background-insets: 0;
}