.title-header {
    -fx-font-size: 1.2em;
    -fx-padding: 15px 0 3px 0;
}

.choice-pane-comp {
    -fx-spacing: 7px;
}

.options-comp .name {
    -fx-padding: 9px 0 0 0;
    -fx-font-size: 1.1em;
}

.options-comp .description {
    -fx-opacity: 0.75;
}

.options-comp .long-description {
    -fx-padding: 0 6 0 6;
}

.options-comp .simple-titled-pane-comp > .content {
    -fx-padding: 0 9 6 9;
}

.options-comp .titled-pane > .title {
    -fx-padding: 8 20 8 10;
}
