.sidebar-comp {
-fx-pref-width: 7em;
-fx-background-color: -color-accent-subtle;
 -fx-border-width: 0 0 0 0.05em;
-fx-border-color: -color-accent-emphasis;
-fx-padding: 0;
}

.sidebar-comp .big-icon-button-comp {
-fx-background-radius: 0;
}

.sidebar-comp .big-icon-button-comp:selected {
-fx-background-color: -color-accent-muted;
}

.sidebar-comp .big-icon-button-comp .icon {
-fx-font-size: 1.5em;
}

.sidebar-comp .big-icon-button-comp * {
-fx-text-fill: -color-fg-default;
-fx-icon-color: -color-fg-default;
}

.sidebar-comp .big-icon-button-comp {
  -fx-padding: 1.1em 0.6em 1.1em 0.6em;
}

.sidebar-comp .big-icon-button-comp .vbox  {
-fx-spacing: 0.5em;
}