.sidebar-comp {
-fx-pref-width: 7em;
 -fx-border-width: 0 0 0 1px;
-fx-border-color: -color-neutral-emphasis;
-fx-padding: 0;
    -fx-background-insets: 0;
}

.sidebar-comp .big-icon-button-comp, .sidebar-comp .button {
-fx-background-radius: 0;
-fx-background-insets: 0;
}

.sidebar-comp .button:disabled {
-fx-opacity: 1.0;
}

.sidebar-comp .big-icon-button-comp:selected {
-fx-background-color: -color-accent-subtle;
}

.sidebar-comp .big-icon-button-comp .icon {
-fx-font-size: 1.4em;
}

.sidebar-comp .big-icon-button-comp {
  -fx-padding: 1.1em 0.6em 1.1em 0.6em;
}

.sidebar-comp .big-icon-button-comp .vbox  {
-fx-spacing: 0.5em;
}