
.store-entry-grid .date, .store-entry-grid .summary {
-fx-text-fill: -color-fg-muted;
}

.store-entry-grid:failed .jfx-text-field {
-fx-text-fill: red;
}

.store-entry-grid:incomplete .jfx-text-field {
-fx-text-fill: gray;
}
.store-entry-grid:incomplete .summary {
-fx-text-fill: gray;
}
.store-entry-grid:incomplete .information {
-fx-text-fill: gray;
}
.store-entry-grid:incomplete .date {
-fx-text-fill: gray;
}
.store-entry-grid:incomplete .icon {
-fx-opacity: 0.5;
}

.store-entry-comp {
-fx-padding: 6px 6px 6px 0;
}

.store-entry-comp:hover {
-fx-background-color: -color-neutral-muted;
}

.expand-button:hover {
-fx-background-color: -color-neutral-muted;
}




