.storage-entry-list-comp .content {
}

.list-mode.columns .column-name {
-fx-text-fill: grey;
}

.list-mode.columns {
-fx-padding: 0 0.2em 0.0em 0;
}

.storage-entry-list-comp .content-pane {
 -fx-padding: 0.0em 0.1em 0.2em 0.2em;
}

.storage-entry-list-comp {
 -fx-padding: 0 0.2em 0 0.2em;
}