.store-entry-grid .date, .store-entry-grid .summary {
-fx-text-fill: -color-fg-muted;
}

.store-entry-grid:failed .jfx-text-field {
-fx-text-fill: #ee4829;
}

.store-entry-grid:incomplete .name {
-fx-text-fill: #ee4829;
}
.store-entry-grid:incomplete .summary {
-fx-text-fill: #ee4829;
}
.store-entry-grid:incomplete .information {
-fx-text-fill: #ee4829;
}
.store-entry-grid:incomplete .icon {
-fx-opacity: 0.5;
}

.store-entry-grid .icon {
-fx-background-color: -color-bg-overlay;
-fx-background-radius: 5px;
}

.root:pretty .store-entry-grid .icon {
-fx-effect: dropshadow(three-pass-box, -color-shadow-default, 2px, 0.5, 0, 1);

}

.root:pretty .store-entry-grid .icon > * {
-fx-effect: dropshadow(three-pass-box, -color-accent-muted, 2px, 0.2, 0, 1);
}

.store-entry-grid {
-fx-padding: 6px 6px 6px 6px;
}

.store-entry-grid.dense {
-fx-padding: 1px 6px 1px 6px;
}

.store-list-comp .top {
-fx-border-width: 0 0 0.7em 0;
-fx-background-insets: 0 0 0.7em 0;
-fx-border-color: transparent;
-fx-background-color: transparent;
}

.store-entry-section-comp:expanded:odd-depth {
-fx-background-color: -color-bg-default;
-fx-background-radius: 4px;
}

.store-entry-section-comp:expanded:even-depth {
-fx-background-radius: 4px;
}

.root:light .store-entry-section-comp:expanded:even-depth {
-fx-background-color: derive(-color-bg-default, -3%);
}

.root:dark .store-entry-section-comp:expanded:even-depth {
-fx-background-color: derive(-color-bg-default, 5%);
-fx-border-color: -color-border-subtle;
}

.store-entry-comp {
-fx-border-color: transparent;
-fx-background-color: transparent;
}

.store-entry-comp:hover {
-fx-background-color: -color-neutral-muted;
}

.store-entry-comp .button-bar {
-fx-opacity: 0.65;
}

.store-entry-comp:hover .button-bar {
-fx-opacity: 1.0;
}

.expand-button:hover {
-fx-background-color: -color-neutral-muted;
}

.expand-button:disabled {
-fx-opacity: 0.2;
}

.root:pretty .store-entry-comp .button-bar {
-fx-effect: dropshadow(three-pass-box, -color-shadow-default, 2px, 0.25, 0, 1);
}

.store-entry-comp .button-bar .button {
-fx-padding: 6px;
}

.store-entry-section-comp .separator {
-fx-padding: 0 0.75em 0 0.75em;
-fx-border-insets: 0px;
}

.store-entry-section-comp > .content {
-fx-padding: 5px 0 5px 25px;
}

.store-entry-section-comp .separator .line {
-fx-padding: 0;
-fx-border-insets: 0px;
-fx-background-color: -color-border-subtle;
-fx-pref-height: 1;
}

.top > .store-entry-section-comp {
-fx-background-color: -color-bg-default;
-fx-background-radius: 4px;
}

.root:pretty .top > .store-entry-section-comp {
-fx-effect: dropshadow(three-pass-box, -color-shadow-default, 3px, 0.5, 0, 1);
}

.store-entry-section-comp:expanded {
-fx-border-radius: 4px;
-fx-border-width: 1px;
-fx-border-color: -color-border-default;
}

.store-entry-section-comp .list-box-view-comp .content {
-fx-spacing: 0.2em;
}



