
.store-entry-grid .date, .store-entry-grid .summary {
-fx-text-fill: -color-fg-muted;
}

.store-entry-grid:failed .jfx-text-field {
-fx-text-fill: red;
}

.store-entry-grid:incomplete .jfx-text-field {
-fx-text-fill: gray;
}
.store-entry-grid:incomplete .summary {
-fx-text-fill: gray;
}
.store-entry-grid:incomplete .information {
-fx-text-fill: gray;
}
.store-entry-grid:incomplete .date {
-fx-text-fill: gray;
}
.store-entry-grid:incomplete .icon {
-fx-opacity: 0.5;
}

.store-entry-grid {
-fx-padding: 6px 6px 6px 6px;
}

.store-entry-grid.dense {
-fx-padding: 1px 6px 1px 6px;
}

.store-list-comp .top {
-fx-border-width: 0 0 1em 0;
-fx-background-insets: 0 0 1em 0;
-fx-border-color: transparent;
}

.store-list-comp .top:odd .store-entry-section-comp {
-fx-background-color: -color-bg-subtle;
}

.store-list-comp .top:even .store-entry-section-comp {
-fx-background-color: -color-bg-overlay;
}

.store-list-comp .store-entry-section-comp {
-fx-background-color: -color-bg-default;
}

.store-entry-comp:hover {
-fx-background-color: -color-neutral-muted;
}

.expand-button:hover {
-fx-background-color: -color-neutral-muted;
}

.store-entry-comp .button-bar .button {
-fx-padding: 6px;
}

.store-entry-section-comp .separator {
-fx-padding: 0 0.5em 0 0.5em;
-fx-border-insets: 0px;
}

.store-entry-section-comp .separator .line {
-fx-padding: 0;
-fx-border-insets: 0px;
}

.store-entry-section-comp * {
-fx-spacing: 0.5em;
}

.store-entry-section-comp:expanded {
-fx-background-color: -color-bg-default;
}



