.prefs * {
-fx-text-fill: -color-fg-default;
-fx-highlight-text-fill:  -color-fg-default;
-fx-highlight-fill: -color-neutral-muted;
-fx-prompt-text-fill: -color-neutral-muted;
-fx-text-box-border:-color-neutral-muted;
-fx-control-inner-background: -color-neutral-muted;
-fx-body-color: -color-neutral-muted;
-fx-inner-border: -color-accent-fg;
}

.window-content {
-fx-padding: 1.2em;
}

.layout {
-fx-background-color: -color-bg-default;
}

.text {
   -fx-font-smoothing-type: gray;
}

.radio-button {
-fx-background-color:transparent;
}

.icon-button-comp {
 -fx-padding: 0.05em;
}

.background {
-fx-transparency: 10%;
}

.scroll-pane {
-fx-background-color:transparent;
}

.jfx-list-view {
 -fx-background-insets: 0;
 -fx-padding: 0;
}

.loading-comp {
  -fx-background-color: -color-modal-pane-overlay;
}

