/* For development
*:focused {
    -fx-border-width: 1;
    -fx-border-color: red;
}
*/

.root:light, .root:dark {
    -fx-background-color: transparent;
}

.store-layout .split-pane-divider {
    -fx-background-color: transparent;
}

.edit-button.icon-button-comp {
    -fx-background-radius: 4px;
    -fx-border-width: 1px;
    -fx-border-radius: 4px;
    -fx-padding: 5px;
    -fx-background-color: -color-bg-default;
    -fx-border-color: -color-neutral-emphasis;
}

.edit-button.icon-button-comp:hover, .root:key-navigation .edit-button.icon-button-comp:focused {
    -fx-background-color: -color-accent-muted;
}

.scan-list {
    -fx-background-radius: 4px;
    -fx-border-width: 0.05em;
    -fx-border-radius: 4px;
    -fx-padding: 1px;
    -fx-background-color: -color-bg-default;
    -fx-border-color: -color-neutral-emphasis;
}

.scan-list .list-content {
    -fx-padding: 0.7em 1px 1em 1em;
}

.root:windows .text {
    -fx-font-smoothing-type: gray;
}

.root:linux .text {
    -fx-font-smoothing-type: lcd;
}

.radio-button {
    -fx-background-color: transparent;
}

.icon-button-comp {
    -fx-padding: 0.05em;
}

.root:key-navigation .icon-button-comp:focused {
    -fx-background-color: -color-accent-muted;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.root:light .loading-comp {
    -fx-background-color: rgba(100, 100, 100, 0.5);
}

.root:dark .loading-comp {
    -fx-background-color: rgba(0, 0, 0, 0.5);
}

.icon-browser {
    -fx-border-color: transparent;
    -color-cell-border: transparent;
}

.icon-browser .column-header-background {
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
}

.icon-browser .table-row-cell {
    -fx-cell-size: 80px;
}

.icon-browser .table-row-cell .icon-label {
    -fx-padding: 15 0;
    -fx-cursor: hand;
}

.root:pretty:light .store-active-comp .dot {
    -fx-fill: radial-gradient(radius 180%, rgb(30, 180, 30, 0.6), rgb(20, 120, 20, 0.65), rgb(37, 200, 37, 0.6));
}

.root:performance:light .store-active-comp .dot {
    -fx-fill: rgb(30, 180, 30, 0.6);
}

.root:pretty:dark .store-active-comp .dot {
    -fx-fill: radial-gradient(radius 180%, rgb(30, 180, 30, 0.8), rgb(20, 120, 20, 0.85), rgb(37, 200, 37, 0.8));
}

.root:performance:dark .store-active-comp .dot {
    -fx-fill: rgb(30, 180, 30, 0.7);
}
