/* For development
*:focused {
    -fx-border-width: 1;
    -fx-border-color: red;
}
*/

.root {
    -fx-background-color: transparent;
}

.root.macos:seamless-frame {
    -fx-padding: 0 0 27 0;
}

.root:dark:separate-frame .background {
    -fx-background-color: derive(-color-bg-default, 1%);
}

.root:light:separate-frame .background {
    -fx-background-color: derive(-color-bg-default, -9%);
}

.root:dark:separate-frame.background {
    -fx-background-color: derive(-color-bg-default, 1%);
}

.root:light:separate-frame.background {
    -fx-background-color: derive(-color-bg-default, -9%);
}



.root:dark:seamless-frame .background {
    -fx-background-color: derive(-color-bg-default-transparent, 1%);
}

.root:light:seamless-frame .background {
    -fx-background-color: derive(-color-bg-default-transparent, -9%);
}

.root:dark:seamless-frame.background {
    -fx-background-color: derive(-color-bg-default-transparent, 1%);
}

.root:light:seamless-frame.background {
    -fx-background-color: derive(-color-bg-default-transparent, -9%);
}

.root:seamless-frame.layout > .background {
    -fx-background-insets: 5 0 0 0;
    -fx-border-insets: 5 0 0 0;
    -fx-background-radius: 0 10 0 0;
    -fx-border-radius: 0 10 0 0;
    -fx-border-width: 1 1 0 0;
    -fx-border-color: -color-border-default;
    -fx-padding: 0 0 0 0;
}

.root:seamless-frame.layout > .background > * {
    -fx-background-radius: 0 10 0 0;
    -fx-border-radius: 0 10 0 0;
}

.toggle-switch:has-graphic .label {
    -fx-font-size: 1.7em;
}

.toggle-switch:has-graphic {
    -fx-font-size: 0.75em;
}

.store-layout .split-pane-divider {
    -fx-background-color: transparent;
}

.edit-button.icon-button-comp {
    -fx-background-radius: 4px;
    -fx-border-width: 1px;
    -fx-border-radius: 4px;
    -fx-padding: 5px;
    -fx-background-color: -color-bg-default;
    -fx-border-color: -color-neutral-emphasis;
}

.edit-button.icon-button-comp:hover, .root:key-navigation .edit-button.icon-button-comp:focused {
    -fx-background-color: -color-accent-muted;
}

.scan-list {
    -fx-background-radius: 4px;
    -fx-border-width: 0.05em;
    -fx-border-radius: 4px;
    -fx-padding: 1em;
    -fx-background-color: -color-bg-default;
    -fx-border-color: -color-neutral-emphasis;
}

.text {
    -fx-font-smoothing-type: gray;
}

.radio-button {
    -fx-background-color: transparent;
}

.icon-button-comp {
    -fx-padding: 0.05em;
}

.root:key-navigation .icon-button-comp:focused {
    -fx-background-color: -color-accent-muted;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.root:light .loading-comp {
    -fx-background-color: rgba(100, 100, 100, 0.5);
}

.root:dark .loading-comp {
    -fx-background-color: rgba(0, 0, 0, 0.5);
}
