
.window-content {
-fx-padding: 1.2em;
}

.message-comp {
-fx-padding: 0.6em;
-fx-background-color: #FF9999AA;
-fx-border-width: 1px;
-fx-border-color:-color-accent-fg;
-fx-border-radius: 2px;
}

.radio-button {
-fx-background-color:transparent;
}

.icon-button-comp {
 -fx-padding: 0.05em;
}

.background {
-fx-transparency: 10%;
}

.scroll-pane {
-fx-background-color:transparent;
}

.jfx-list-view {
 -fx-background-insets: 0;
 -fx-padding: 0;
}

.loading-comp .spinner {
-jfx-radius: 2.15em;
-fx-background-color:transparent;
}

.loading-comp {
-fx-background-color: #FFFFFFAA;
}

