.prefs * {
-fx-text-fill: -color-fg-default;
-fx-highlight-text-fill: -color-fg-default;
-fx-highlight-fill: -color-neutral-muted;
-fx-prompt-text-fill: -color-fg-subtle;
-fx-text-box-border:-color-neutral-muted;
-fx-control-inner-background: -color-neutral-muted;
-fx-body-color: -color-neutral-muted;
-fx-inner-border: -color-accent-fg;
}

.root .window-content {
-fx-padding: 1.2em;
}

.store-layout .split-pane-divider {
    -fx-background-color: transparent;
}

.root:dark.background {
    -fx-background-color: linear-gradient(from 100% 0% to 0% 100%, derive(-color-bg-default, 5%) 40%, derive(-color-bg-default, 2%) 50%, derive(-color-bg-default, 5%) 100%);
}

.root:light.background {
    -fx-background-color: linear-gradient(from 100% 0% to 0% 100%, derive(-color-bg-default, -9%) 40%, derive(-color-bg-default, 1%) 50%, derive(-color-bg-default, -9%) 100%);
}

.edit-button.icon-button-comp {
    -fx-background-radius: 4px;
    -fx-border-width: 1px;
    -fx-border-radius: 4px;
    -fx-padding: 5px;
    -fx-background-color: -color-bg-default;
    -fx-border-color: -color-neutral-emphasis;
}

.edit-button.icon-button-comp:hover, .edit-button.icon-button-comp:focused {
    -fx-background-color: -color-accent-muted;
}

.scan-list {
-fx-background-radius: 4px;
 -fx-border-width: 0.05em;
-fx-border-radius: 4px;
-fx-padding: 1em;
-fx-background-color: -color-bg-default;
-fx-border-color: -color-neutral-emphasis;
}

.text {
   -fx-font-smoothing-type: gray;
}

.radio-button {
-fx-background-color:transparent;
}

.icon-button-comp {
 -fx-padding: 0.05em;
}

.scroll-pane {
-fx-background-color:transparent;
}

.jfx-list-view {
 -fx-background-insets: 0;
 -fx-padding: 0;
}

.root:light .loading-comp {
    -fx-background-color: rgba(100,100,100,0.5);
}

.root:dark .loading-comp {
    -fx-background-color: rgba(0,0,0,0.5);
}

