.jfx-tab-pane .tab-header-background { -fx-background-color: transparent; }

.jfx-tab-pane .tab-header-area .tab-selected-line {
    -fx-pref-height: 1px;
}

.jfx-tab-pane .headers-region * {
    -fx-font-size: 1em;
}

.tab-content-area {
-fx-padding: 0.5em, 0, 0, 0;
}