.tab-pane-comp .tab-header-area .jfx-rippler {
    -jfx-rippler-fill: #118AB210;
}

.tab-pane-comp .tab-header-background {
-fx-background-color: transparent;
}

.tab-pane-comp .tab-header-area .tab-selected-line {
    -fx-background-color: #073B4C43;
    -fx-pref-height: 1px;
}

.tab-pane-comp .headers-region * {
    -fx-font-size: 1em;
}