.table-mapping-comp {
-fx-hgap: 1em;
-fx-vgap: .3em;
-fx-padding: 0.5em;
}

.table-mapping-comp .odd {
-fx-text-fill: grey;
}

.table-mapping-confirmation-comp {
-fx-spacing: 1em;
}

.table-mapping-confirmation-comp .grid-container {
-fx-border-width: 1px;
-fx-border-color:-color-accent-fg;
-fx-background-color: transparent;
-fx-border-radius: 4px;
-fx-padding: 2px;
-fx-background-radius: 4px;
}