.root:key-navigation .toggle-switch-comp:focused > .thumb-area {
    -fx-border-color: -color-accent-emphasis;
}

.toggle-switch-comp:has-graphic .label {
    -fx-font-size: 1.7em;
}

.toggle-switch-comp:has-graphic {
    -fx-font-size: 0.75em;
}

.toggle-switch-comp .label-container {
    -fx-padding: -0.2em 0 0 0;
}

.root:linux .toggle-switch-comp .label-container {
    -fx-padding: -0.05em 0 0 0;
}

.root:linux:nord .toggle-switch-comp > .thumb {
    -fx-background-insets: 0.15em 0.2em 0.15em 0.2em;
}

.root:windows .toggle-switch-comp > .thumb-area {
    -fx-padding: 0.65em 1.5em;
    -fx-background-insets: 0, 1;
}

.root:windows .toggle-switch-comp > .thumb {
    -fx-background-insets: 0.2em;
    -fx-background-radius: 1em;
    -fx-padding: 0.7em;
}

.root:light .toggle-switch-comp > .thumb {
    -fx-background-color: -color-fg-emphasis;
}

.root:light .toggle-switch-comp > .thumb-area {
    -fx-border-radius: 1em;
    -fx-border-width: 1;
    -fx-border-color: derive(-color-border-default, -5%);
    -fx-background-color: derive(-color-neutral-muted, -8%);
}

.root:light .toggle-switch-comp:selected > .thumb {
    -fx-background-color: -color-accent-emphasis, -color-fg-emphasis;
    -fx-opacity: 1;
}

.root:light .toggle-switch-comp:selected > .thumb-area {
    -fx-background-color: -color-accent-emphasis, -color-accent-emphasis;
}

.root:macos .toggle-switch-comp > .thumb-area {
    -fx-padding: 0.65em 1.5em;
}

.root:light:macos .toggle-switch-comp > .thumb-area {
    -fx-border-width: 0;
    -fx-border-color: transparent;
}

.root:linux .toggle-switch-comp > .thumb {
    -fx-background-insets: 0.12em;
}

.root:macos .toggle-switch-comp > .thumb {
    -fx-background-insets: 0.15em;
    -fx-background-radius: 1em;
    -fx-padding: 0.7em 1.0em 0.7em 1.0em;
}

.root:light:nord .toggle-switch-comp > .thumb, .root:dark:nord .toggle-switch-comp > .thumb {
    -fx-background-radius: 0em;
}

.root:light:nord .toggle-switch-comp > .thumb-area, .root:dark:nord .toggle-switch-comp > .thumb-area {
    -fx-border-radius: 0;
}
